<h1> bienvenu sur proStage</h1>

<p>

    ci-dessous :
</p>

<ul>
    <li>
        <a href="{{path('proStage_Stages',{id:5})}}">les stage 5 </a>
    </li>
    <li>
        <a href="{{path('proStage_Stages',{id:2})}}">les stage 2 </a>
    </li>
    <li>
        <a href="{{path('proStage_Stages',{id:3})}}">les stage 3 </a>
    </li>


</ul>