<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} proStages {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block slider %}
        {% endblock %}
        {% block menu %}
        {% endblock %}
        {% block contenu %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
        
    </body>
</html>
